// Typography
$font-brand: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Colors
$color-dark-gray: #303030;
$color-storm: #5e6d79;
$color-gray: #9aa7b2;
$color-cloud: #e7eaee;
$color-smoke: #f2f3f4;
$color-white: #fff;
$color-blue: #3082c0;
$color-green: #399c07;
$color-red: #ff4228;
$color-orange: #ff8300;
$color-yellow: #fcdc01;

// Aliases
$color-text: $color-dark-gray;
