@import 'variables';

html {
  color: $color-text;
  font-family: $font-brand;
  font-size: 14px;
}

.heading {
  color: $color-white;
  margin: 0;
  padding: 20px 25px;
  text-transform: uppercase;

  .home & {
    background-color: $color-yellow;
  }

  .about & {
    background-color: $color-green;
  }

  .work & {
    background-color: $color-red;
  }

  .contact & {
    background-color: $color-blue;
  }

  .no-match & {
    background-color: $color-storm;
  }
}
